* {
    padding: 0;
    margin: 0;
}

header {
    background-image: linear-gradient(120deg, #8E2A04 40%, #5f240d,  black);
    height: 160px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
}

nav {
    width: 100%;
    height: 100%;
}

#barras {
    width: 100%;
    text-align: end;
}

.fa-bars {
    color: white;
    font-size: 40px;
    margin: 30px;
}